.activities-container {
  position: relative;
  width: 393px;
  height: 750px;
  margin: auto;
  padding: 20px;
  background: #64cdfa; 
  border-radius: 20px;
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
}

body.dark-mode .activities-container {
  background: #333; 
}

.activities-container h1 {
  font-size: 34px; 
  font-weight: bold; 
  margin-bottom: 20px;
  color: white; 
}

body.dark-mode .activities-container h1 {
  color: white;
}

.places-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 600px; 
  overflow-y: auto; 
}


.places-list::-webkit-scrollbar {
  display: none; 
}


.place-item {
  flex-direction: column; 
  background: #ffffff; 
  color: #333; 
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


body.dark-mode .place-item {
  background: #555; 
  color: white; /* White text in dark mode */
}


.place-item:hover {
  background: #f0f8ff; 
  transform: scale(1.02); 
  transition: all 0.2s ease-in-out;
}


body.dark-mode .place-item:hover {
  background: #444; /* Darker hover background */
}


.place-info {
  text-align: left; 
  width: 100%;
}

.place-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

body.dark-mode .place-info h3 {
  color: white; 
}

.place-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

body.dark-mode .place-info p {
  color: #ccc; 
}

.place-info p:first-of-type {
  font-weight: bold;
  color: #333; 
}

body.dark-mode .place-info p:first-of-type {
  color: white;
}

.place-info p:last-of-type {
  font-style: italic;
}

body.dark-mode .place-info p:last-of-type {
  color: #bbb; 
}
